/* !=======================================Header============================================= */

.container {
    margin-bottom: 10vh;
}
.back-text{
    margin-top: 7vh;
    margin-left: 5vw;
    width: 88vw;
}

.block-left{
    display: block;
    height: auto;
    width: 40vw;
    margin-top: 33vh;
    margin-left: 5vw;

}

#bl-1{
    font-size: 60px;
    font-weight: 400;
}

#bl-2{
    font-family: 'Fahkwang', sans-serif;
    font-size: 22px;
    padding-top: 5vh;
}

.block{
    display: flex;
}

#rect{
    margin-top: -15vh;
    margin-right: 0vw;
    height: 650px;
}

/* !========================================SiteBar========================================== */

.siteBar{
    background-color: #7A513266;
    border-radius: 30px;
    width: 400px;
    height: 800px;
    margin-left: 5vw;
    display: flex;
    align-items: center;
}

#leave{
    position: absolute;
    width: 410px;
    height: 330px;
    margin-top: -290px;
}

.siteBar-ul{
    list-style-type: none;
    padding-left: 50px;
    
}

.sb-lists{
    color: black;
    font-size: 30px;
}


/* !===============================================Cards================================= */
.sectionFirst{
    display: flex;
}
.card{
    background-color: #7A513266;
    border-radius: 30px;
    width: 350px;
    height: 520px;
    margin-left: 55px;
}

