/* !=======================================Header============================================= */

.container-head {
  position: relative;
  margin-bottom: 20vh;
  margin-right: 0;
  padding-left: 5vw;
}
.back-text {
  position: absolute;
  top: 0;
  width: 80%;
  z-index: -1;
}

.block-left {
  display: block;
  height: auto;
  width: 40vw;
  margin-top: 17vh;
  margin-left: 0vw;
}

@media (max-width: 580px) {
  .block-left {
    width: 80vw;
  }
}

#bl-1 {
  font-size: 50px;
  font-weight: 400;
}

@media (max-width: 778px) {
  #bl-1 {
    font-size: 30px;
  }
}

@media (max-width: 580px) {
  #bl-1 {
    font-size: 40px;
  }
}

#bl-2 {
  font-family: "Fahkwang", sans-serif;
  font-size: 22px;
  padding-top: 10px;
}
@media (max-width: 1026px) {
  #bl-2 {
    font-size: 15px;
  }
}
@media (max-width: 965px) {
  #bl-2 {
    display: none;
  }
}

#rect {
  position: absolute;
  height: 450px;
  right: 5vw;
  top: -5vh;
  z-index: 1;
}

@media (max-width: 1026px) {
  #rect {
    height: 350px;
  }
}
@media (max-width: 778px) {
  #rect {
    height: 250px;
  }
}
@media (max-width: 580px) {
  #rect {
    display: none;
  }
}

/* !========================================SiteBar========================================== */

.siteBar {
  position: relative;
  background-color: #7a513266;
  border-radius: 30px;
  width: 400px;
  height: 520px;
  margin-left: 5vw;
  display: flex;
  align-items: center;
}
@media (max-width: 768px) {
  .siteBar {
    display: none;
  }
}

#leave {
  position: absolute;
  width: auto;
  height: 300px;
  top: 0;
  right: 0;
  z-index: -1;
}
@media (max-width: 768px) {
  #leave {
    display: none;
  }
}

.siteBar-ul {
  list-style-type: none;
  padding-left: 50px;
}

.sb-lists {
  color: black;
  font-size: 30px;
}

/* !========================================Cards========================================== */
@media (max-width: 780px) {
  .sectionFirst {
    margin-top: 40vh;
  }
}

.homeCards {
  display: flex;
  flex-wrap: wrap;
  margin-right: 0;
  width: 70%;
}
.cardHome {
  background-color: #7a513266;
  border-radius: 30px;
  width: 350px;
  height: 520px;
  margin-left: 5vw;
  margin-bottom: 10vh;
  position: relative;
}

@media (max-width: 385px) {
  .cardHome {
    width: 300px;
  }
}

.cardHome:hover {
  background-color: #805e449c;
}

.imgListHome {
  width: 250px;
  height: 200px;
  border-radius: 30px;
  margin-top: 50px;
  margin-left: 50px;
  margin-bottom: 20px;
}

@media (max-width: 385px) {
  .imgListHome {
    width: 200px;
    height: 150px;
  }
}
.card-textHome {
  color: black;
  padding-left: 50px;
  padding-right: 50px;
}

.card-titleHome {
  color: black;
  font-size: 30px;
  font-weight: 400;
}

.card-priceHome {
  color: black;
  position: absolute;
  bottom: 5%;
  right: 5%;
}

.card-priceHome {
  font-family: "Fahkwang", sans-serif;
  font-size: 22px;
  font-weight: 700;
}

.card-descHome {
  font-family: "Fahkwang", sans-serif;
  font-size: 22px;
  font-weight: 300;
}
.card-tagHome {
  margin-right: 10px;
}

.batns {
  margin-left: 775px;
  margin-bottom: 20px;
}
