h2 {
  text-align: center;
}

.siteBarInp {
  background-color: #7a513266;
  border-radius: 30px;
  width: 400px;
  height: 400px;
  margin-top: 10vh;
  margin-bottom: 10vh;
  margin-left: auto;
  margin-right: auto;
}

.siteBar-inputs {
  text-align: center;
  width: 90%;
  margin-left: 5px;
}
